absl-py==2.0.0
appdirs==1.4.4
astor==0.8.1
attrs==23.2.0
backcall==0.2.0
beautifulsoup4==4.7.1
beautifultable==0.7.0
boto3==1.28.62
botocore==1.31.62
braceexpand==0.1.7
cachetools==5.3.1
certifi==2023.7.22
cfgv==3.3.1
chardet==4.0.0
charset-normalizer==3.3.0
click==8.1.7
clip @ git+https://github.com/openai/CLIP.git
cloudpickle==2.2.1
colorama==0.4.6
comm==0.1.4
cycler==0.11.0
Cython==3.0.3
debugpy==1.7.0
decorator==4.4.2
docopt==0.6.2
dtw==1.4.0
easydict==1.12
emoji==2.9.0
entrypoints==0.4
et-xmlfile==1.1.0
fastdtw==0.3.4
fastjsonschema==2.18.1
filelock==3.12.2
fonttools==4.38.0
fsspec==2023.1.0
ftfy==6.1.1
gast==0.2.2
gdown==4.7.3
gitdb==4.0.11
GitPython==3.1.42
google-auth==2.23.2
google-auth-oauthlib==1.1.0
google-pasta==0.2.0
grpcio==1.59.0
gym==0.10.9
gym-notices==0.0.8
h5py==3.8.0
huggingface-hub==0.16.4
idna==2.10
ifcfg==0.24
imageio==2.31.2
imageio-ffmpeg==0.4.9
importlib-metadata==6.7.0
importlib-resources==5.12.0
inquirerpy==0.3.4
ipython==7.34.0
ipython-genutils==0.2.0
jedi==0.19.1
jmespath==1.0.1
joblib==1.3.2
jsonlines==3.1.0
jsonschema==4.17.3
kaleido==0.2.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.4.5
llvmlite==0.37.0
lmdb==1.4.1
lxml==4.6.2
Markdown==3.4.4
MarkupSafe==2.1.3
matplotlib==3.5.3
matplotlib-inline==0.1.6
mock==5.1.0
moviepy==2.0.0.dev2
msgpack==1.0.5
msgpack-numpy==0.4.8
nbformat==4.2.0
nest-asyncio==1.5.8
networkx==2.6.3
nltk==3.8.1
numba==0.54.1
numpy==1.20.3
numpy-quaternion==2023.0.3
nvitop==1.3.1
oauthlib==3.2.2
objectio==0.2.29
opencv-python==4.8.1.78
openpyxl==3.1.2
opt-einsum==3.3.0
packaging==23.2
pandas==1.3.5
parso==0.8.3
pathtools==0.1.2
pexpect==4.8.0
pfzy==0.3.4
pickle5==0.0.12
pickleshare==0.7.5
Pillow==9.5.0
pipreqs==0.4.13
pkgconfig==1.5.5
pkgutil_resolve_name==1.3.10
plotly==5.17.0
proglog==0.1.10
prompt-toolkit==3.0.39
protobuf==3.20.0
psutil==5.9.5
ptyprocess==0.7.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyglet==2.0.9
Pygments==2.16.1
pyparsing==3.1.2
pyrsistent==0.19.3
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytorch-transformers==1.2.0
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==25.1.1
regex==2023.10.3
requests==2.25.1
requests-oauthlib==1.3.1
rsa==4.9
s3transfer==0.7.0
sacremoses==0.0.53
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.12.2
setproctitle==1.3.3
simplejson==3.19.2
six==1.16.0
smmap==5.0.1
soupsieve==2.4.1
stanza==1.6.1
tenacity==8.2.3
tensorflow==1.13.1  # must be installed before tensorboard 1.15
tensorboard-data-server==0.7.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
threadpoolctl==3.1.0
tokenizers==0.10.3
torch-scatter @ https://data.pyg.org/whl/torch-1.9.0%2Bcu111/torch_scatter-2.0.9-cp37-cp37m-linux_x86_64.whl
tornado==6.2
tqdm==4.66.2
traitlets==5.9.0
transformers==4.11.3
typer==0.9.0
typing_extensions==4.7.1
urllib3==1.26.17
validators==0.12.6
wandb==0.16.2
wcwidth==0.2.8
webdataset==0.1.40
websocket-client==1.6.1
Werkzeug==2.2.3
widgetsnbextension==4.0.9
wrapt==1.16.0
yacs==0.1.8
yarg==0.1.9
zipp==3.15.0
